$english-violet: #60435f;
$deep-purple: #4b3550;
$lavender: #9b7b97;
$rich-burgundy: #6e3f56;
$muted-lilac: #aca2b3a1;

$muted-indigo: #5a4a70;      // A blue-leaning purple
$soft-aubergine: #47325d;     // A deep, rich blue-purple
$dusty-blue: #75849d;        // A soft, muted blue

$navy-blue: #3a4a70;         // A deep, dark blue
$periwinkle: #7a86b9;        // A soft, pastel blue
$cool-sky-blue: #6baed6;     // A vibrant and fresh blue


