@use "_token";
@media (max-width: 1200px) {
  .btn {
    margin: 8px;    
  }
}

h1 {
  color: rgb(0, 0, 0);
}

#calendar {
  background-color: token.$muted-lilac;
  #thead {
    background-color: token.$lavender;
  }
  .day {
    background-color: whitesmoke;
    border: solid 1px token.$lavender;
    box-sizing: border-box;
  }
  .task {
    position: relative;
    z-index: 10;
  }
}

header {
  background-color: token.$english-violet;
  padding: 1rem;
}

nav a {
  color: white;
  font-weight: bold;
  text-decoration: none;
  margin-right: 1rem;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #2580db;
}

.btn-create-account {
  background-color: #5a4a70 !important; // Muted Indigo
  color: white !important;
  border: none !important;
  padding: 10px 10px; // Ajustez selon vos besoins
  text-transform: uppercase; // Facultatif
  font-weight: bold; // Facultatif
  text-align: center;
  margin: 15px 15px 15px;

  &:hover {
    background-color: #3a4a70 !important; // Navy Blue
    color: #7a86b9 !important; // Periwinkle
    text-decoration: none; // Supprime les soulignements potentiels
  }

  &:focus,
  &:active {
    outline: none; // Supprime le contour par défaut
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); // Ajoute un léger effet
  }
}
.btn-view-profile {
  background-color: #60435f !important; // English Violet
  color: white !important;
  border: none !important;
  padding: 10px 20px; // Ajustez selon vos besoins
  text-transform: uppercase; // Facultatif
  font-weight: bold; // Facultatif
  text-align: center;

  &:hover {
    background-color: #4b3550 !important; // Deep Purple
    color: #9b7b97 !important; // Lavender
    text-decoration: none; // Supprime les soulignements
  }

  &:focus,
  &:active {
    outline: none; // Supprime le contour par défaut
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); // Ajoute un léger effet
  }
}

.custom-footer {
  background-color: token.$english-violet; /* Fond noir */
  color: #ffffff; /* Texte blanc */
}

.footer-thanks,
.footer-rights {
  color: #ffffff; /* Texte blanc pour les autres éléments */
}

.footer p {
  font-size: 14px; /* Ajuster la taille du texte si nécessaire */
}

#btnprofil {
  background-color: token.$english-violet;
  border-color: #5a4a70;
  color: rgb(240, 233, 233);
}

#table-nav,
#btnprofil {
  background-color: token.$english-violet;
  border-color: #5a4a70;
  color: rgb(240, 233, 233);
}
#btn-add,
#btn-retour {
  background-color: token.$english-violet;
  border-color: #5a4a70;
  color: rgb(240, 233, 233);
}

.card .card-header {
  background-color: token.$muted-indigo; // Applique la couleur $periwinkle en fond
  color: white; // Texte en blanc
  text-align: center; // Centrer le texte
  padding: 10px; // Ajouter de l'espace autour du texte
}
.custom-card-header {
  background-color: token.$muted-indigo; // La couleur que vous voulez appliquer
  color: white; // Couleur du texte en blanc
  text-align: center; // Centrer le texte
  padding: 15px; // Ajoute du padding autour du titre
}
#table-nav {
  background-color: token.$muted-indigo; // La couleur que vous voulez appliquer
  color: white; // Couleur du texte en blanc
  text-align: left; // Centrer le texte
}
