@use "_token";

h1 {
    color: rgb(0, 0, 0);
}


#calendar {
    background-color: token.$muted-lilac;
    #thead{
        background-color: token.$lavender;
    }
    .day {
        background-color: token.$muted-lilac;
        border: solid 1px white;
        box-sizing: border-box;
    }
}
.task {
    position: relative;
    z-index: 10;
}

header {
    background-color: token.$english-violet;
    padding: 1rem;
}

nav a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    margin-right: 1rem;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #2580db;
}